<ul class="reset list-items schedule-list">
    <li *ngFor="let film of (filmsToWatch$ | async)" [id]="film.id">
        <h2 class="list-items__title">{{ film?.title }}</h2>
        <div class="list-items__item">
            <img
                *ngIf="film.poster_path"
                [src]="
                    'https://image.tmdb.org/t/p/w600_and_h900_bestv2' +
                    film.poster_path
                "
                class="item__image"
                [alt]="film.title"
            />
        </div>
        <article *ngIf="film.actors.length" class="list-items__actors">
            <h3>Actors:</h3>
            <ul class="actors-data">
                <li *ngFor="let actor of (film.actors | slice: 0:3)">
                    {{ actor?.name }}
                </li>
            </ul>
        </article>
        <mat-checkbox
            class="schedule__checkbox"
            (change)="checkBoxChange($event, film)"
            >I've watched</mat-checkbox
        >
    </li>
</ul>
