$color-solomon: #fa8072;
$color-solomon-active: #ff4040;
$width: 100%;

$border-width: 2px;
$list-padding: 2rem 2.5rem;


.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  flex-flow: column wrap;
  top: 0;
  left: 0;
}

.center-position {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

.header__title {
  color: $color-solomon;
  transition: color .5s;

  &.active {
    color: $color-solomon-active;
  }
}

.main {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-top: $border-width solid $color-solomon;
}

.main__film-list {
  order: 1;
  border-right: $border-width solid $color-solomon;
  width: $width * 1/3;
  padding: $list-padding;
  min-width: 400px;
}

.main__film-detail {
  order: 2;
  width: $width * 2/3;
  padding: $list-padding;
}
