<div
  [ngClass]="{
    'wrapper': true,
    'center-position': !value
  } ">

  <header class="header">
    <h1 [ngClass]="{
      'header__title': true,
      'active': inputFocusActive
    }">
      {{ title }}
    </h1>

    <app-custom-form
      [isActive]="inputFocusActive"
      (getInputFocus)="onInputFocus($event)"
      (getInputBlur)="onInputBlur($event)"
      (changeInputValue)="getInputValue($event)">
    </app-custom-form>
  </header>


  <main *ngIf="value" class="main">
    <app-film-list class="main__film-list" [title]="value"></app-film-list>
    <app-film-detail class="main__film-detail"></app-film-detail>
  </main>

</div>

<router-outlet></router-outlet>
