<ul class="reset list-items">
    <li
        *ngFor="let film of films; let i = index"
        (click)="onClick($event); clicked = film"
        [id]="film.id"
        [class.active]="!clicked ? i === 0 : clicked === film"
    >
        <h2 class="list-items__title">{{ film.title }}</h2>
        <div class="list-items__item">
            <img
                *ngIf="film.poster_path"
                [src]="
                    'https://image.tmdb.org/t/p/w600_and_h900_bestv2' +
                    film.poster_path
                "
                class="item__image"
                [alt]="film.title"
            />
        </div>
        <article class="list-items__actors">
            <h3 *ngIf="film.actors">Actors:</h3>
            <ul class="actors-data">
                <li *ngFor="let actor of (film.actors | slice: 0:3)">
                    {{ actor.name }}
                </li>
            </ul>
        </article>
    </li>
</ul>
<button (click)="buttonClick($event)">Next</button>
