<ul class="reset list-items">
  <li *ngFor="let film of films; let i = index" (click)="onClick($event); clicked = film;"
    [id]="film.id"
    [class.active]="!clicked ? i === 0 : clicked === film">

    <h2 class="list-items__title">{{ film.name }}</h2>
    <div class="list-items__item">
      <img [src]="film.imgURL" class="item__image" [alt]="film.name" />
    </div>
    <article class="list-items__actors">
      <h3 *ngIf="film.actors.length > 0">Actors:</h3>
      <ul class="actors-data">
        <li *ngFor="let actor of film.actors;">{{ actor }}</li>
      </ul>
    </article>

  </li>
</ul>
