<div class="wrapper" [class.center-position]="!(filmsList$ | async)">
    <header class="header">
        <h1 class="header__title" [class.active]="inputFocusActive">
            {{ title }}
        </h1>

        <app-custom-form
            [isActive]="inputFocusActive"
            (getInputFocus)="onInputFocus($event)"
            (getInputBlur)="onInputBlur($event)"
            (changeInputValue)="onInputChange($event)"
        >
        </app-custom-form>
    </header>

    <main *ngIf="(filmsList$ | async)" class="main">
        <app-film-list
            class="main__film-list"
            (onFilmClick)="onFilmListClick($event)"
            (onButtonClick)="onButtonFilmClick()"
            [films]="filmsList$ | async"
        ></app-film-list>
        <app-film-detail
            [film]="
                (activeFilm$ | async)
                    ? (activeFilm$ | async)
                    : (getfirstFilm() | async)
            "
        ></app-film-detail>
    </main>
</div>
