$color-solomon: #fa8072;
$color-white: #fff;
$color-solomon-active: #ff4040;
$color-orange: #f60;

.film__title {
    margin: -1.5rem -3rem 0 -4.5rem;
    padding: 0 1rem 0 5rem;
    background: $color-solomon-active;
    font-weight: 400;
    font-size: 2em;
    position: relative;
    height: 6rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transform: rotate(-1.5deg);

    &.actors {
        margin-top: -2.5rem;
        transform: rotate(-2.5deg);
        background: $color-orange;
    }
}

.actors-data {
    &.actors {
        margin-right: -4rem;
    }
}

.actors-item {
    list-style-type: 0;
    list-style-type: none;
    transform: rotate(-2deg);
    line-height: 2.5rem;
    display: inline-flex;
    flex-flow: row wrap;
    margin-right: 2.5rem;

    &:nth-child(2n) {
        font-weight: 700;
        font-size: 1.1em;
    }

    &:nth-child(3n) {
        font-size: 0.9em;
    }
}

.film__title::before {
    content: "";
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
    background: $color-white;
    transform: rotate(45deg);
}

.film__overview {
    padding: 2rem 0;
    line-height: 1.5rem;
    transform: rotate(-0.5deg);
}

.film__image {
    transform: rotate(-1.5deg);
    width: 100%;
    object-fit: cover;

    &.wrapper {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
}

.actors-data li:first-of-type {
    margin-top: 2rem;
}
