<ul class="reset list-items">
  <li>
    <h2 class="list-items__title">{{ title }}</h2>
    <div class="list-items__item">
      <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/12/11/naturo-monkey-selfie.jpg?w968" class="item__image" alt="" />
    </div>
    <article class="list-items__actors">
      Actors:
      <ul class="actors-data">
        <li>Lorem ipsumdsfsfd</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsumsdfds</li>
      </ul>
    </article>
  </li>
  <li></li>
  <li></li>
  <li></li>
</ul>
