<div class="block">
    <h2 mat-dialog-title>{{ message.title }}</h2>
    <div class="container" mat-dialog-content>
        <p>
            {{ message.content }}
        </p>
    </div>
    <div class="buttons" mat-dialog-actions>
        <button class="cancel" mat-button [mat-dialog-close]>
            {{ button.cancel }}
        </button>
        <button
            class="submit"
            mat-button
            [mat-dialog-close]="film"
            cdkFocusInitial
        >
            {{ button.submit }}
        </button>
    </div>
</div>
